<DOCTYPE html>
<html lang="en">
<head>
    <title>Book Recommender System</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
<body style = "background-color: #aaaacc">
<nav class="navbar" style="background-color:#aaaaff">
    <a class="navbar-brand">Book Recommender</a>
    <ul class="nav navbar-nav" style="list-style: none; display: flex; padding: 0; margin: 0;">
        <li style="margin-right: 20px;"><a href="/">Home</a></li>
        <li style="margin-right: 20px;"><a href="/recommend">Recommend</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<div class = "container">
    <div class ="row">
        <div class = "col-md-12">
            <h1 class = "text-black" style = "font-size: 40px; font-weight: bold" > Top 50 Books</h1>
        </div>
        <div class = "col-md-3" style="margin-top: 50px">
            <div class = "card">
                <div class = "card-body">
                    <img
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
